.what-we-do {
    padding: 60px 20px;
    background: #fff;
    color: #000;
    text-align: center;
  }
  .icon {
    color: red; /* Ensure the icons are red */
    font-size: 40px; /* Increase the size of the icons */
   /* display: inline-block; /* Ensure proper spacing and alignment */
    margin-bottom: 10px; /* Add some spacing below the icon */
}

.containerr{
  margin: 30px 300px;
}
  h1{
    font-weight: bold;
    font-size:xx-large;
  }
.features {
  display: flex; 
  justify-content: center;
  gap: 50px; 
  flex-wrap: wrap; 
  font-size: larger;
}


.feature {
  text-align: center; /* Keep the content of each feature centered */
  flex: 0 1 200px; /* Ensure each feature has a minimum width */
}


@keyframes scale-up {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
  
  .features .feature:hover {
    animation: scale-up 0.5s ease-in-out;
  }
  

  