.footer {
    background: var(--main-bg);
    color: var(--text-color);
    padding: 20px;
    text-align: center;
  }
  
  .footer-links {
    list-style: none;
    margin: 20px 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .footer-links a {
    color: var(--accent-color);
    text-decoration: none;
  }
  
  .footer-links a:hover {
    color: var(--text-color);
  }
  body{
    background-color: #1a2238;
    color:white;
  }
  